.heroSection {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 200px auto auto auto;
}

.heroSection h3 {
    font-size: 28px;
    font-weight: 700;
    color: #002366;
    margin-bottom: 20px;

}

.heroSection p {
    font-style: italic;
    font-weight: 600;
}

.heroSection button {
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 10px 20px;
    background-color: #002366;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

.heroSection button:hover {
    background-color: #0052a3;
}

.heroSection button a {
    color: #fff;
}