.heroSection {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 200px auto auto auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/bg-1.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh;
    margin-top: -20px;
}

.heroSection h3 {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;

}

.heroSection p {
    font-style: italic;
    font-weight: 600;
    color: #fff;
}

.heroSection button {
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 10px 20px;
    background-color: #002366;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

.heroSection button:hover {
    background-color: #0052a3;
}

.heroSection button a {
    color: #fff;
}