/* Add this to your CSS file */
.project-gallery {
    padding: 20px;
    text-align: center;
}

.project-gallery h1 {
    color: #001a4d;
    margin-bottom: 20px;
}

.project-filter {
    margin-bottom: 20px;

}


.project-filter select {
    padding: 10px;
    margin: 3px;
    background-color: #001a4d;
    color: white;
    border: #001a4d;
}

.project-filter button {
    padding: 10px;
    margin: 3px;
    background-color: #001a4d;
    color: white;
    border: #001a4d;
}

.project-filter select option {
    background-color: #001a4d;
    color: white;
    font-size: 12px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.project-page {
    padding: 20px;
    text-align: center;
}

.project-page img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #002366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #001a4d;
}